<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Filme.Properties.Settings.UtilizatoriConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Utilizatori.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Filme.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Primul serviciu webSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51869/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Primul serviciu webSoap" contract="ServiceReference1.PrimulserviciuwebSoap"
                name="Primul serviciu webSoap" />
        </client>
    </system.serviceModel>
</configuration>